.hero {
  min-height: 100vh;

  display: flex;
  align-items: center;

  background: #09090b;
}

.hero {
  position: relative;

  overflow: hidden;
}

.hero::before {
  content: "";

  position: absolute;

  width: 600px;
  height: 600px;

  border-radius: 50%;

  background: #8b5cf6;

  filter: blur(220px);

  opacity: 0.12;

  top: -250px;

  left: 50%;

  transform: translateX(-50%);
}

.hero::after {
  content: "";

  position: absolute;

  width: 500px;
  height: 500px;

  border-radius: 50%;

  background: #06b6d4;

  filter: blur(220px);

  opacity: 0.08;

  bottom: -300px;

  right: -100px;
}

.hero-content {
  text-align: center;
  max-width: 950px;
  margin: auto;
}

.hero-badge {
  display: inline-block;

  padding: 10px 20px;

  border-radius: 999px;

  background: rgba(139, 92, 246, 0.15);

  border: 1px solid rgba(139, 92, 246, 0.3);

  color:  #c4b5fd;

  font-weight: 600;

  margin-bottom: 25px;
}

.hero-content h1 {
  font-size: 5rem;

  line-height: 1.1;

  margin-bottom: 25px;

  background: linear-gradient(
    135deg,
    #8b5cf6,
    #6366f1,
    #06b6d4
  );

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

.hero-content p {
  font-size: 1.2rem;

  color: #a1a1aa;

  line-height: 1.8;

  max-width: 700px;

  margin: auto;
}

.hero-description {
  font-size: 1.2rem;

  color: #a1a1aa;

  line-height: 1.8;

  max-width: 700px;

  margin: auto;
}

.hero-buttons {
  margin-top: 40px;
  
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary-btn {
  padding: 16px 32px;

  border-radius: 12px;

  background: linear-gradient(
    135deg,
    #8b5cf6,
    #06b6d4
  );

  color: white;

  transition: 0.3s;
}

.secondary-btn {
  padding: 16px 32px;

  border-radius: 12px;

  border: 1px solid #27272a;

  background: #18181b;

  color: white;

  transition: 0.3s;
}

.primary-btn:hover,
.secondary-btn:hover {
  transform: translateY(-4px);
}

.stat-card-container {
  margin-top: 80px;

  display: flex;

  justify-content: center;

  gap: 25px;

  flex-wrap: wrap;
}

.stat-card {
  min-width: 220px;

  padding: 30px;

  border-radius: 16px;

  background: #18181b;

  border: 1px solid #27272a;

  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-10px);

  border-color: rgba(139,92,246,0.4);
}

.stat-card h3 {
  font-size: 2.2rem;

  margin-bottom: 10px;

  background: linear-gradient(
    135deg,
    #8b5cf6,
    #6366f1,
    #06b6d4
  );

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;

  filter: drop-shadow(
    0 0 12px rgba(139, 92, 246, 0.25)
  );
}

.stat-card p {
  color: #a1a1aa;
}